[Desktop Entry]
Categories=Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Comment=Manage users
Comment[ca]=Gestiona els usuaris 
Comment[de]=Benutzer verwalten
Comment[es]=Gestionar usuarios
Comment[it]=Gestisci utenti
Comment[nl]=Beheer gebruikers
Comment[ru]=Управление пользователями
Exec=usermanager
GenericName=User management
GenericName[ca]=Gestió d'usuaris 
GenericName[de]=Benutzerverwaltung
GenericName[es]=Gestión de usuarios
GenericName[it]=Gestione utenti
GenericName[nl]=Gebruikersbeheerder
GenericName[ru]=Управление пользователями
GenericName[se]=Användarhantering
Icon=user-identity
MimeType=
Name=User management
Name[ca]=Gestió d'usuaris 
Name[de]=Benutzerverwaltung
Name[es]=Gestión de usuarios
Name[it]=Gestione utenti
Name[nl]=Gebruikersbeheerder
Name[ru]=Управление пользователями
Name[se]=Användarhantering
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
