[Desktop Entry]
Categories=Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Comment=Manage users
Comment[ca]=Gestiona els usuaris 
Comment[de]=Benutzer verwalten
Comment[es]=Gestionar usuarios
Comment[fr]=Gestion des droits des utilisateurs
Comment[it]=Gestisci utenti
Comment[ja]=ユーザーの管理
Comment[nb]=Behandle brukere
Comment[nl]=Beheer gebruikers
Comment[pt]=Gestão de utilizadores
Comment[ru]=Управление пользователями
Comment[tr]=Kullanıcıları yönet
Exec=usermanager
GenericName=User management
GenericName[ca]=Gestió d'usuaris 
GenericName[de]=Benutzerverwaltung
GenericName[es]=Gestión de usuarios
GenericName[fr]=Gestion des utilisateurs
GenericName[it]=Gestione utenti
GenericName[ja]=ユーザーマネージャー
GenericName[nb]=Brukerbehandling
GenericName[nl]=Gebruikersbeheerder
GenericName[pt]=Gestor de utilizador
GenericName[ru]=Управление пользователями
GenericName[se]=Användarhantering
GenericName[tr]=Kullanıcı yönetimi
Icon=user-identity
MimeType=
Name=User management
Name[ca]=Gestió d'usuaris 
Name[de]=Benutzerverwaltung
Name[es]=Gestión de usuarios
Name[fr]=Gestion des utilisateurs
Name[it]=Gestione utenti
Name[ja]=ユーザーマネージャー
Name[nb]=Brukerbehandling
Name[nl]=Gebruikersbeheerder
Name[pt]=Gestor de utilizador
Name[ru]=Управление пользователями
Name[se]=Användarhantering
Name[tr]=Kullanıcı yönetimi
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
