Source: usermanager
Section: admin
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Build-Depends: debhelper (>= 9)
  , python
  , intltool
X-Python-Version: >= 3.0
Standards-Version: 3.9.5
Vcs-Git: git://github.com/SolydXK/usermanager.git
Vcs-Browser: https://github.com/SolydXK/usermanager

Package: usermanager
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
  , python3
  , python3-gi
  , passwd
  , gir1.2-gtk-3.0
Conflicts: solydxk-locale
Replaces: solydxk-locale
Description: Simple user manager
