[Desktop Entry]
Type=Service
Icon=user-identity
Exec=usermanager

X-KDE-ServiceTypes=SystemSettingsExternalApp
X-KDE-System-Settings-Parent-Category=system-administration 
X-KDE-System-Settings-Parent-Category-V2=system-administration 
X-KDE-ParentApp=usermanager
Categories=Qt;KDE;X-KDE-settings-system-administration;

Name=User management
Name[ca]=Gestió d'usuaris 
Name[de]=Benutzerverwaltung
Name[es]=Gestión de usuarios
Name[fr]=Gestion des utilisateurs
Name[it]=Gestione utenti
Name[ja]=ユーザーマネージャー
Name[nb]=Brukerbehandling
Name[nl]=Gebruikersbeheerder
Name[pt]=Gerenciador de utilizadores
Name[ru]=Управление пользователями
Name[se]=Användarhantering
Comment=Manage users
Comment[ca]=Gestiona els usuaris 
Comment[de]=Benutzer verwalten
Comment[es]=Gestionar usuarios
Comment[fr]=Gestion des droits des utilisateurs
Comment[it]=Gestisci utenti
Comment[ja]=ユーザーの管理
Comment[nb]=Behandle brukere
Comment[nl]=Beheer gebruikers
Comment[pt]=Gestão de utilizadores
Comment[ru]=Управление пользователями
