[Desktop Entry]
Type=Service
Icon=user-identity
Exec=usermanager

X-KDE-ServiceTypes=SystemSettingsExternalApp
X-KDE-System-Settings-Parent-Category=system-administration 
X-KDE-System-Settings-Parent-Category-V2=system-administration 
X-KDE-ParentApp=usermanager
Categories=Qt;KDE;X-KDE-settings-system-administration;

Name=User management
Name[ca]=Gestió d'usuaris 
Name[de]=Benutzerverwaltung
Name[es]=Gestión de usuarios
Name[it]=Gestione utenti
Name[nl]=Gebruikersbeheerder
Name[ru]=Управление пользователями
Name[se]=Användarhantering
Comment=Manage users
Comment[ca]=Gestiona els usuaris 
Comment[de]=Benutzer verwalten
Comment[es]=Gestionar usuarios
Comment[it]=Gestisci utenti
Comment[nl]=Beheer gebruikers
Comment[ru]=Управление пользователями
